@model The_Pet_Mansion.Models.Cart

@if (ViewBag.Message != null)
{
    <h3 class="alert-info" style="padding:5px 10px 5px 10px; ">@ViewBag.Message</h3>
}
<br /><br />
<div style="display:flex;">
    <div style="width:70%;">
        @{ float s = 0;

            foreach (var cart in Model.CartLines)
            {

                <div class="panel panel-default">
                    @Html.Partial("CartOrders", cart)

                    @{s = s + (cart.Product.Price * cart.Quantity);
                    }
                    <div class="panel panel-footer">
                        <div style="display:inline-flex;">
                            <a class="btn btn-primary " href="/CartLine/Edit/@cart.CartLineID"><i class="glyphicon glyphicon-pencil"></i> Modifica</a>
                            <form method="post" action="/CartLine/Delete/@cart.CartLineID">
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i> Elimina din cos</button>
                            </form>
                        </div>

                    </div>
                </div>



            }
        }

        @if (s == 0)
        {
            <h3 style="font-family:'Alef';">Cosul dumneavoastra este gol!</h3>
        }
    </div>

    <div class=" panel panel-body" style="height:150px; margin-left:20px; width:30%; text-align:center;">
        <h3>Total: @s  lei</h3>
        <br />
        <a class="btn btn-success" href="/Cart/Edit/@Model.CartID"><i class="glyphicon glyphicon-ok"></i> Trimite comanda</a>
        <br />


    </div>

</div>



