
     <div class="panel panel-body">
         <div class="imagine">
             <img src="/Files/@Model.Product.File.FileName" style="width:155px;height:155px;float:left;" />
         </div>
         
        <h5 class="card-title" style="margin-left:230px;">@Model.Product.ProductName</h5>
         <p class="card-text pull-right">@(Model.Product.Price * Model.Quantity) lei</p>
         <p class="card-text"style="margin-left:230px;">Cantitate: @Model.Quantity</p>
      </div>

