
<h2>Produse</h2>
<h1>@ViewBag.Message</h1>


<br />
@foreach (The_Pet_Mansion.Models.Product product in ViewBag.Products)
{
    <div class="panel panel-default">
        @Html.Partial("ProductInfo", product)
        <div class="panel-footer">
            <a class="btn btn-sm btn btn-success" href="/Products/Show/@product.ProductID">
                Afisare produs
            </a>
        </div>
    </div>
}

    <a class="btn btn-primary" href="/Products/New">Adauga produs</a>
    <a class="btn btn-primary" href="/Categories/Index">Afisare categorii</a>

